@import 'src/theme';

:host {
  display: flex;
  // align-items: stretch;
  flex-flow: column nowrap;
  gap: 10px
}

#alarm-list {
  mat-card {
    margin-bottom: 10px;
  }

  width: 100%;
  max-width: 600px;
  margin: auto;

  .grow {
    flex: 1;
  }

  .full-width {
    width: 100%;
  }

  .repeat-rule {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 10px;
  }
}