@use '@angular/material' as mat;
@import 'src/theme';

:host {
    position: relative;
}

#visual {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    rotate: 180deg;
}

.background {
    fill: #1A1940;
    stroke: #000;
    stroke-width: 0.0025;
}

.handle {
    fill: #731F1F;
    stroke: #000;
    stroke-width: 0.0025;
}