:host {
    z-index: 1000;
}

.mat-toolbar {
    background-color: rgba(white, 0.05);
    backdrop-filter: blur(13px);
    box-shadow: 0 0 2px #ed0303;
}

#icon {
    filter: drop-shadow(-1px 1px 1px #ed0303) drop-shadow(3px 1px 1px #1e036b);
    scale: 1.25;
}

.row {
    gap: 20px;
    max-width: 100%;
}

.mat-mdc-button {
    width: 175px;
}

.mat-toolbar {
    @extend .row;
}