@use '@angular/material' as mat;

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#visual {
    position: absolute;
    width: 100%;
    height: 100%;
    rotate: 180deg;
}

.background {
    backdrop-filter: blur(4px);
    stroke: rgba(white, 0.2);
    fill: rgba(blue, 0.18);
    stroke-width: 0.0035;
}

.handle {
    fill: rgba(#D93030, 0.72);
    stroke: rgba(white, 0.2);
    stroke-width: 0.0035;
}