<div class="wrapper">
  <svg id="visual" preserveAspectRatio="xMidYMid meet" viewBox="-1.1 -1.1 2.2 2.2" xmlns="http://www.w3.org/2000/svg">
    <filter id='inset-shadow'>
      <feOffset dx='0' dy='0' />
      <feGaussianBlur result='offset-blur' stdDeviation='0.5' />
      <feComposite in='SourceGraphic' in2='offset-blur' operator='out' result='inverse' />
      <feFlood flood-color='black' flood-opacity='.99' result='color' />
      <feComposite in='color' in2='inverse' operator='in' result='shadow' />
      <feComposite in='shadow' in2='SourceGraphic' operator='over' />
    </filter>

    <g>
      @if(backgroundGraph){
      <path [attr.d]="backgroundGraph.d" class="background"></path>
      }
      @for( i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11, 12]; track i){
      <rect height="0.015" rx="20" ry="20" style="fill:rgba(255, 255, 255, 0.25); rotate: {{360 * i / 12 }}deg;"
            width="0.15" x="0.69" />
      }
    </g>

    <g>
      @if(hoursGraph) {
      <path [attr.d]="hoursGraph.d" class="handle"></path>
      }
      @if(minutesGraph) {
      <path [attr.d]="minutesGraph.d" class="handle"></path>
      }
      @if(secondsGraph) {
      <path [attr.d]="secondsGraph.d" class="handle"></path>
      }
    </g>
  </svg>
</div>