<app-analog-clock style="flex: 1;"></app-analog-clock>

<div style="height: 0;">
  <div id="canvas-container">
    <img @rocket class="rocket" *ngIf="timeToFly" src="assets/images/rocket.png">
  </div>
</div>

<div id="other">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Next Alarm:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div *ngFor="let item of nextAlarms">
        <b>{{item.name}}, {{item.time}}</b>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Training Status</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Text. Text text bla i dunno whadda hell to!
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Device Status</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Text. Text text bla i dunno whadda hell to!
    </mat-card-content>
  </mat-card>
</div>