@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

@import 'src/theme';

:host {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

mat-card-content {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  gap: 10px;
}

mat-form-field {
  flex: 1;
}

pre {
  width: 100%;
  background-color: mat.get-color-from-palette($dark-background, 'contrast');
}