.card {
  flex: 0 1;
  align-self: flex-start;
  margin: 16px;
  top: 16px;

  h2 {
    margin-top: 0;
  }
}

.alarms {
  left: 0;
}

.days {
  right: 0;
}

.clock {
  flex: 1 1 0;
}

.mobile-column {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  gap: 16px;

  button {
    flex: 1;
    height: 88px;
    width: 88px;
    
    mat-icon {
      font-size: 64px;
      height: 64px;
      width: 64px;
    }
  }
}