<div id="other" style="z-index: 1">
  <mat-card>
    <mat-card-content>
      @if(nextAlarm.value){
      <app-value-display labelText="Name" [valueText]="nextAlarm.value.name"></app-value-display>
      <app-value-display labelText="Time"></app-value-display>
      <div style="font-size: 24px; margin-bottom: 8px;">{{nextAlarm.value.time | date :'shortTime'}}</div>
      <app-value-display labelText="Sound" [valueText]="nextAlarm.value.sound"></app-value-display>
      }
    </mat-card-content>
  </mat-card>

  <app-analog-clock id="clock" style="flex: 3; z-index: 1;"></app-analog-clock>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Special Days</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @for (day of actionDays.value; track $index) {
      {{day.name}}
      {{day.desc}}
      }
    </mat-card-content>
  </mat-card>
</div>