/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import 'theme';



html, body {
  height: 100%;

}

body {
  margin: 0;
}

* {
  // font-family: 'Mouse Memoirs', sans-serif;
}

.image-button {
  .mat-button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;

    img {
      height: 28px;
    }
  }
}

.info-primary {
  background-color: mat.get-color-from-palette($light-primary);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.info-accent {
  background-color: mat.get-color-from-palette($light-accent);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

