:host {
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

#canvas-container {
  position: relative;
  overflow: hidden;
  height: 100px;
  top: -96px;

  .rocket {
    position: absolute;
    top: 0;
    height: 100%;
    rotate: 90deg;
    width: auto;
  }

  .wave {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
  }

  .mirrored {
    rotate: 180deg;
    top: 50%
  }
}

#other {
  display: flex;
  flex-flow: row;
  gap: 8px;
  height: 156px;

  mat-card {
    flex: 1;
  }
}